<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multiselect</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="languages">Language</label>
        <select name="language" id="languages" multiple>
            <option value="python">Python</option>
            <option value="java">Java</option>
            <option value="c++">C++</option>
            <option value="c#">C#</option>
            <option value="perl">Perl</option>
        </select><br>
        <h4>Choose your Food</h4>
        <label for="idli">idli</label>
        <input type="checkbox" name="food" id="idli" value="IDLI">
        <label for="dosa">dosa</label>
        <input type="checkbox" name="food" id="dosa" value="DOSA">
        <label for="puri">puri</label>
        <input type="checkbox" name="food" id="puri" value="PURI">
        <label for="upma">upma</label>
        <input type="checkbox" name="food" id="upma" value="UPMA">
        <input type="submit" value="sumbit">
    </form>
</body>
</html>